sm = 480px			// mobile
md = 768px			// tablet
lg = 992px			// laptop
xl = 1024px			// desktop

media_queries = {
	extra-large	: "only screen and (min-width: xl)"
	large				: "only screen and (min-width: lg + 1)",
	medium			: "only screen and (min-width: md + 1) and (max-width: lg)",
	small				: "only screen and (min-width: sm + 1) and (max-width: md)",
	extra-small	: "only screen and (max-width: sm)"
}

breakpoint(breakpoints)
	conditions = ()
	for breakpoint in breakpoints
		push(conditions, media_queries[breakpoint])
	conditions = join(", ", conditions)
	@media conditions
		{block}
